.page__header {
  background: $bg-main;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  padding: 10px;
}
.header__iconleft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__iconmiddle {
  display: none;
}

.header__iconright {
  display: flex;
  align-items: flex-end;
 // position: relative;
}
.services__icon__text,
.header-title {
  display: none;
}
.header-divider {
  margin-right: 10px;
}

/*.header__iconright 
  ::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 40px;
  background: $background-con;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1px;
  }
*/
.header__iconright {
  display: flex;
  align-items: center;

}

.header-divider {
  display: block;
  width: 3px;
  height: 32px;
  border-radius: 1px;
  flex-shrink: 0;
}
.header-divider--left {
  display: none;
}