.phone {
  background: $background-con;
  border-top: $border;
  overflow: hidden;
}

.items {
  position: relative;
  padding: 10px;
}

.items::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  z-index: 10;
  pointer-events: none;

  background: linear-gradient(
    to left,
    rgba(245, 243, 243, 1),
    rgba(245, 243, 243, 0)
  );
}

.swiper {
  overflow: hidden;
}

.phone__list {
  margin: 10px 0 30px 0;
  padding: 0;
  list-style: none;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  box-sizing: border-box;
  flex-shrink: 0;
}

.item {
  display: flex;
  align-items: center;
  width: 250px;
  padding: 10px;

  background-color: $bg-main;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;

  box-sizing: border-box;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
